.blockList {
  background-color: rgba(0, 95, 103, 0.24);
  padding: 10px;
  border: 2px solid rgba(0, 95, 103, 0.52);

  &Control {
    display: flex;
    align-items: center;
    margin: 20px 0;

    &Button {
      padding: 10px 35px;
      background-color: rgba(0, 95, 103, 0.24);
      border: 2px solid rgba(0, 95, 103, 0.52);
      margin: 0 30px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color .6s, color .6s;
      color: #005a60;

      &:hover {
        background-color: rgba(0, 95, 103, 0.82);
        border: 2px solid rgba(0, 95, 103, 0.97);
        color: #fff;
      }

      &:first-child {
        margin: 0;
      }
    }
  }
}
