$widthAnimation: 800px;

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin: 20px 0;
  background-color: rgba(255, 192, 203, 0.85);
  color: #989898;
  border-radius: 4px;
  border: 1px solid #977178;
  transition: background-color 0.6s;
  cursor: pointer;
  animation: slide 12s ease infinite 1s;

  &:hover {
    background-color: rgb(202, 150, 156);
    animation-play-state: paused;
  }

  @keyframes slide {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX($widthAnimation);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
