.topicsForm {
  flex: 2;
  margin-left: 20px;

  &Field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 95, 103, 0.24);
    border: 2px solid rgba(0, 95, 103, 0.52);
    padding: 10px;
  }

  &Input {
    padding: 10px;
    font-size: 20px;
    border: 6px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset;
    background: rgba(255, 255, 255, .5);
    outline: none;
    color: #333;
  }
}
